In [1]:
import pandas as pd

#longline-ll, pl-pole and line, ps-purse seine
ll = pd.read_csv('L_BET_1.csv', header=None)
pl = pd.read_csv('P_BET_1.csv', header=None)
ps = pd.read_csv('S_BET_1.csv', header=None)

In [2]:
custom_headers = [
    "Gear", "Flag", "Year", "Region", "Annual-Catch-Estimate", 
    "Aggregate-Data-Area", "Aggregate-Data-Time", "Aggregate-Data-catch-recs", 
    "Operational-Data-catch-recs", "Length-Data-Area1", "Length-Data-Time1", 
    "Length-Data-Size-int1", "Length-Data-Samples1", "Length-Data-Area2", 
    "Length-Data-Time2", "Length-Data-Size-int2", "Length-Data-Samples2"
]

ll.columns = custom_headers
pl.columns = custom_headers
ps.columns = custom_headers

In [3]:
import numpy as np

# List of columns to apply the transformation to
columns_to_convert = [
    'Annual-Catch-Estimate', 'Aggregate-Data-catch-recs', 
    'Operational-Data-catch-recs', 'Length-Data-Samples1', 'Length-Data-Samples2'
]

# Replace commas, then replace any non-numeric values with NaN and convert to integers
ll[columns_to_convert] = ll[columns_to_convert].replace({',': ''}, regex=True)

# Convert to numeric, setting errors='coerce' will turn non-numeric values into NaN
ll[columns_to_convert] = ll[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# Optionally, you can fill NaNs with a default value, like 0
ll[columns_to_convert] = ll[columns_to_convert].fillna(0).astype(int)
ll.head()

,Gear,Flag,Year,Region,Annual-Catch-Estimate,Aggregate-Data-Area,Aggregate-Data-Time,Aggregate-Data-catch-recs,Operational-Data-catch-recs,Length-Data-Area1,Length-Data-Time1,Length-Data-Size-int1,Length-Data-Samples1,Length-Data-Area2,Length-Data-Time2,Length-Data-Size-int2,Length-Data-Samples2
0,L,AU,1989,WCPFC,62,5x5,MON,37,573,5x5,MON,1,3,...,...,...,0
1,L,AU,1990,WCPFC,30,5x5,MON,44,264,5x5,MON,1,31,...,...,...,0
2,L,AU,1991,WCPFC,27,5x5,MON,51,222,5x5,MON,1,516,...,...,...,0
3,L,AU,1992,WCPFC,34,5x5,MON,55,314,5x5,MON,1,592,...,...,...,0
4,L,AU,1993,WCPFC,25,5x5,MON,37,224,5x5,MON,1,1576,...,...,...,0

In [4]:
import numpy as np

# List of columns to apply the transformation to
columns_to_convert = [
    'Annual-Catch-Estimate', 'Aggregate-Data-catch-recs', 
    'Operational-Data-catch-recs', 'Length-Data-Samples1', 'Length-Data-Samples2'
]

# Replace commas, then replace any non-numeric values with NaN and convert to integers
pl[columns_to_convert] = pl[columns_to_convert].replace({',': ''}, regex=True)

# Convert to numeric, setting errors='coerce' will turn non-numeric values into NaN
pl[columns_to_convert] = pl[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# Optionally, you can fill NaNs with a default value, like 0
pl[columns_to_convert] = pl[columns_to_convert].fillna(0).astype(int)
pl.head()

,Gear,Flag,Year,Region,Annual-Catch-Estimate,Aggregate-Data-Area,Aggregate-Data-Time,Aggregate-Data-catch-recs,Operational-Data-catch-recs,Length-Data-Area1,Length-Data-Time1,Length-Data-Size-int1,Length-Data-Samples1,Length-Data-Area2,Length-Data-Time2,Length-Data-Size-int2,Length-Data-Samples2
0,P,AU,1992,WCPFC,0,1x1,MON,2,2,5x5,MON,1,22,...,...,...,0
1,P,FJ,1992,WCPFC,0,...,...,0,0,5x5,MON,1,4,...,...,...,0
2,P,ID,2010,WCPFC,4645,1x1,MON,1152,0,5x10,MON,1,714,...,...,...,0
3,P,ID,2011,WCPFC,3308,1x1,MON,1152,0,5x10,MON,1,232,...,...,...,0
4,P,ID,2012,WCPFC,1817,1x1,MON,1152,0,5x10,MON,1,373,...,...,...,0

In [5]:
import numpy as np

# List of columns to apply the transformation to
columns_to_convert = [
    'Annual-Catch-Estimate', 'Aggregate-Data-catch-recs', 
    'Operational-Data-catch-recs', 'Length-Data-Samples1', 'Length-Data-Samples2'
]

# Replace commas, then replace any non-numeric values with NaN and convert to integers
ps[columns_to_convert] = ps[columns_to_convert].replace({',': ''}, regex=True)

# Convert to numeric, setting errors='coerce' will turn non-numeric values into NaN
ps[columns_to_convert] = ps[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# Optionally, you can fill NaNs with a default value, like 0
ps[columns_to_convert] = ps[columns_to_convert].fillna(0).astype(int)
ps.head()

,Gear,Flag,Year,Region,Annual-Catch-Estimate,Aggregate-Data-Area,Aggregate-Data-Time,Aggregate-Data-catch-recs,Operational-Data-catch-recs,Length-Data-Area1,Length-Data-Time1,Length-Data-Size-int1,Length-Data-Samples1,Length-Data-Area2,Length-Data-Time2,Length-Data-Size-int2,Length-Data-Samples2
0,S,BZ,1994,WCPFC,0,...,...,0,0,5x5,MON,1,350,...,...,...,0
1,S,BZ,1995,WCPFC,0,...,...,0,0,5x5,MON,1,200,...,...,...,0
2,S,BZ,1996,WCPFC,0,...,...,0,0,5x5,MON,1,450,...,...,...,0
3,S,BZ,1997,WCPFC,0,...,...,0,0,5x5,MON,1,700,...,...,...,0
4,S,BZ,1998,WCPFC,0,...,...,0,0,5x5,MON,1,100,...,...,...,0

# Merge all into one df

In [8]:
df = pd.concat([ll, pl, ps], ignore_index=True)
df

,Gear,Flag,Year,Region,Annual-Catch-Estimate,Aggregate-Data-Area,Aggregate-Data-Time,Aggregate-Data-catch-recs,Operational-Data-catch-recs,Length-Data-Area1,Length-Data-Time1,Length-Data-Size-int1,Length-Data-Samples1,Length-Data-Area2,Length-Data-Time2,Length-Data-Size-int2,Length-Data-Samples2
0,L,AU,1989,WCPFC,62,5x5,MON,37,573,5x5,MON,1,3,...,...,...,0
1,L,AU,1990,WCPFC,30,5x5,MON,44,264,5x5,MON,1,31,...,...,...,0
2,L,AU,1991,WCPFC,27,5x5,MON,51,222,5x5,MON,1,516,...,...,...,0
3,L,AU,1992,WCPFC,34,5x5,MON,55,314,5x5,MON,1,592,...,...,...,0
4,L,AU,1993,WCPFC,25,5x5,MON,37,224,5x5,MON,1,1576,...,...,...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2079,S,SU,1988,WCPFC,7,...,...,0,0,...,...,...,0,...,...,...,0
2080,S,SU,1989,WCPFC,14,...,...,0,0,...,...,...,0,...,...,...,0
2081,S,SU,1990,WCPFC,5,...,...,0,0,...,...,...,0,...,...,...,0
2082,S,SU,1991,WCPFC,10,...,...,0,0,...,...,...,0,...,...,...,0
2083,S,SU,1992,WCPFC,4,...,...,0,0,...,...,...,0,...,...,...,0

#### Countries that use L, S and P

In [11]:
df[(df['Gear'] == 'L') & (df['Annual-Catch-Estimate'] > 0)]['Flag'].nunique()

34

In [12]:
df[(df['Gear'] == 'S') & (df['Annual-Catch-Estimate'] > 0)]['Flag'].nunique()

23

In [13]:
df[(df['Gear'] == 'P') & (df['Annual-Catch-Estimate'] > 0)]['Flag'].nunique()

6

In [7]:
df[df['Year']==2023]['Annual-Catch-Estimate'].groupby(df['Gear']).sum()

Gear
L    54190
P     2230
S    57030
Name: Annual-Catch-Estimate, dtype: int64

#### Countries that catches the most fish over the years in this dataset

In [9]:
df.groupby("Flag")["Annual-Catch-Estimate"].sum().sort_values(ascending=False).head(10)

Flag
JP       2775638
KR        982981
TW        808552
US        375875
ID        349197
CN        269445
PH        219171
PG        171323
US-HW     131586
KI        112566
Name: Annual-Catch-Estimate, dtype: int64

#### Countries that catches the most Bigeye tuna **IN 2023** with all types of gears

In [15]:
df[df['Year']==2023]['Annual-Catch-Estimate'].groupby(df['Flag']).sum().sort_values(ascending=False).head(10)

Flag
KR       18863
KI       13678
TW       13093
JP       12598
US        9869
CN        5900
MH        4131
FM        3946
NR        3573
US-HW     3553
Name: Annual-Catch-Estimate, dtype: int64