In [1]:
import pandas as pd
bet = pd.read_csv('L_BET_1.csv', header=None)
skj = pd.read_csv('S_SKJ_1.csv', header=None)

In [3]:
custom_headers = [
    "Gear", "Flag", "Year", "Region", "Annual-Catch-Estimate", 
    "Aggregate-Data-Area", "Aggregate-Data-Time", "Aggregate-Data-catch-recs", 
    "Operational-Data-catch-recs", "Length-Data-Area", "Length-Data-Time", 
    "Length-Data-Size-int", "Length-Data-Samples1", "Length-Data-Area", 
    "Length-Data-Time", "Length-Data-Size-int", "Length-Data-Samples2"
]

bet.columns = custom_headers
skj.columns = custom_headers

In [4]:
bet.head()

,Gear,Flag,Year,Region,Annual-Catch-Estimate,Aggregate-Data-Area,Aggregate-Data-Time,Aggregate-Data-catch-recs,Operational-Data-catch-recs,Length-Data-Area1,Length-Data-Time1,Length-Data-Size-int1,Length-Data-Samples1,Length-Data-Area2,Length-Data-Time2,Length-Data-Size-int2,Length-Data-Samples2
0,L,AU,1989,WCPFC,43,5x5,MON,24,92,5x5,MON,1,2,...,...,...,...
1,L,AU,1990,WCPFC,63,5x5,MON,29,170,5x5,MON,1,53,...,...,...,...
2,L,AU,1991,WCPFC,66,5x5,MON,35,221,5x5,MON,1,147,...,...,...,...
3,L,AU,1992,WCPFC,62,5x5,MON,42,353,5x5,MON,1,118,...,...,...,...
4,L,AU,1993,WCPFC,5,5x5,MON,44,302,5x5,MON,1,118,...,...,...,...

In [5]:
skj.head()

,Gear,Flag,Year,Region,Annual-Catch-Estimate,Aggregate-Data-Area,Aggregate-Data-Time,Aggregate-Data-catch-recs,Operational-Data-catch-recs,Length-Data-Area1,Length-Data-Time1,Length-Data-Size-int1,Length-Data-Samples1,Length-Data-Area2,Length-Data-Time2,Length-Data-Size-int2,Length-Data-Samples2
0,P,FJ,1990,WCPFC,"3,196",1x1,MON,75,564,5x5,MON,1,5,...,...,...,...
1,P,FJ,1991,WCPFC,"4,458",1x1,MON,122,940,5x5,MON,1,100,...,...,...,...
2,P,FJ,1992,WCPFC,"3,705",1x1,MON,130,"1,154",5x5,MON,1,"2,824",...,...,...,...
3,P,FJ,1994,WCPFC,"3,379",1x1,MON,140,847,5x5,MON,1,"1,115",10x20,MON,1,490
4,P,FJ,1995,WCPFC,"4,319",1x1,MON,69,611,10x20,MON,1,"1,719",5x5,MON,1,"1,577"

In [8]:
import numpy as np

# List of columns to apply the transformation to
columns_to_convert = [
    'Annual-Catch-Estimate', 'Aggregate-Data-catch-recs', 
    'Operational-Data-catch-recs', 'Length-Data-Samples1', 'Length-Data-Samples2'
]

# Replace commas, then replace any non-numeric values with NaN and convert to integers
bet[columns_to_convert] = bet[columns_to_convert].replace({',': ''}, regex=True)

# Convert to numeric, setting errors='coerce' will turn non-numeric values into NaN
bet[columns_to_convert] = bet[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# Optionally, you can fill NaNs with a default value, like 0
bet[columns_to_convert] = bet[columns_to_convert].fillna(0).astype(int)
bet.head()

,Gear,Flag,Year,Region,Annual-Catch-Estimate,Aggregate-Data-Area,Aggregate-Data-Time,Aggregate-Data-catch-recs,Operational-Data-catch-recs,Length-Data-Area1,Length-Data-Time1,Length-Data-Size-int1,Length-Data-Samples1,Length-Data-Area2,Length-Data-Time2,Length-Data-Size-int2,Length-Data-Samples2
0,L,AU,1989,WCPFC,43,5x5,MON,24,92,5x5,MON,1,2,...,...,...,0
1,L,AU,1990,WCPFC,63,5x5,MON,29,170,5x5,MON,1,53,...,...,...,0
2,L,AU,1991,WCPFC,66,5x5,MON,35,221,5x5,MON,1,147,...,...,...,0
3,L,AU,1992,WCPFC,62,5x5,MON,42,353,5x5,MON,1,118,...,...,...,0
4,L,AU,1993,WCPFC,5,5x5,MON,44,302,5x5,MON,1,118,...,...,...,0

In [9]:
import numpy as np

# List of columns to apply the transformation to
columns_to_convert = [
    'Annual-Catch-Estimate', 'Aggregate-Data-catch-recs', 
    'Operational-Data-catch-recs', 'Length-Data-Samples1', 'Length-Data-Samples2'
]

# Replace commas, then replace any non-numeric values with NaN and convert to integers
skj[columns_to_convert] = skj[columns_to_convert].replace({',': ''}, regex=True)

# Convert to numeric, setting errors='coerce' will turn non-numeric values into NaN
skj[columns_to_convert] = skj[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# Optionally, you can fill NaNs with a default value, like 0
skj[columns_to_convert] = skj[columns_to_convert].fillna(0).astype(int)
skj.head()

,Gear,Flag,Year,Region,Annual-Catch-Estimate,Aggregate-Data-Area,Aggregate-Data-Time,Aggregate-Data-catch-recs,Operational-Data-catch-recs,Length-Data-Area1,Length-Data-Time1,Length-Data-Size-int1,Length-Data-Samples1,Length-Data-Area2,Length-Data-Time2,Length-Data-Size-int2,Length-Data-Samples2
0,P,FJ,1990,WCPFC,3196,1x1,MON,75,564,5x5,MON,1,5,...,...,...,0
1,P,FJ,1991,WCPFC,4458,1x1,MON,122,940,5x5,MON,1,100,...,...,...,0
2,P,FJ,1992,WCPFC,3705,1x1,MON,130,1154,5x5,MON,1,2824,...,...,...,0
3,P,FJ,1994,WCPFC,3379,1x1,MON,140,847,5x5,MON,1,1115,10x20,MON,1,490
4,P,FJ,1995,WCPFC,4319,1x1,MON,69,611,10x20,MON,1,1719,5x5,MON,1,1577

### BET - Longline	Bigeye tuna

#### Countries that catches the most fish over the years in this dataset

In [50]:
bet.groupby("Flag")["Annual-Catch-Estimate"].sum().sort_values(ascending=False).head(10)

Flag
JP       2178400
KR        740074
TW        458178
CN        233628
ID        147384
US-HW     131586
VN         55504
VU         53389
FM         36636
FJ         25592
Name: Annual-Catch-Estimate, dtype: int64

#### Countries that catches the most fish in 2023 in this dataset

In [52]:
bet[bet["Year"] == 2023].groupby("Flag")["Annual-Catch-Estimate"].sum().sort_values(ascending=False).head(10)

Flag
KR       13474
TW        8828
JP        7535
CN        5393
KI        3806
US-HW     3553
VU        2190
MH        1428
PF        1232
FM        1220
Name: Annual-Catch-Estimate, dtype: int64

### SKJ - Purse Seine Skipjack tuna

#### Countries that catches the most skipjack tuna (with Purse Seine) over the years in this dataset

In [87]:
skj.groupby("Flag")["Annual-Catch-Estimate"].sum().sort_values(ascending=False).head(10)

Flag
JP    6452065
KR    5857545
PG    3432065
PH    3188986
ID    2243666
KI    1671755
FM    1224441
MH    1173211
TW     857007
VN     718823
Name: Annual-Catch-Estimate, dtype: int64

#### in 2023

In [86]:
skj[skj["Year"] == 2023].groupby("Flag")["Annual-Catch-Estimate"].sum().sort_values(ascending=False).head(10)

Flag
KR    182906
KI    179402
JP    115449
FM    114578
ID    106571
PG     93090
NR     81333
VN     58480
MH     54881
PH     45563
Name: Annual-Catch-Estimate, dtype: int64